h1 {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
}

h3 {
    font-family: 'Lustria', serif;
}

.jumbotron {
    background-color: teal;
}

.manager {
    background-color: mediumaquamarine;
}

.engineer {
    background-color: cornflowerblue;
}

.intern {
    background-color: paleturquoise;
}